.App {
  text-align: center;
}
.credfalse {
  color: red ;
}
.topHeader {
  background-color: orange ;
  align-items:  center;
  padding: 1%;
  color:white;
}
.aligntext {
  text-align: start;
}
.data {
  text-align: left;
  background-color:#F5F5F5;
}
.addborder {
  border-bottom: 1px solid #DCDCDC;

}
.logintrue {
  background-color: #DCDCDC; 
}

.addallborder{
  border: 1px solid #DCDCDC;
}
.link {
  text-decoration: none;
  color: black;
  cursor: auto;
}
.size {
  font-size: 11px ;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

[id^="demo"] {
  display: none ;
}

[id^="demo"]:checked + label{
  visibility: hidden;
  display: none ;
  font-family: 'Courier New', Courier, monospace
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
