<!DOCTYPE html>
<html>
<head>
  <title>LOGIN</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="stylesheets/login.css">

</head>
<body>

    <div class="form-contain container">    
        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
                        <form action="/login" method="POST" id="loginform" class="form-horizontal" role="form">
                                    
                            <div class="margin-bottom input-group">
                                        <span class="background input-group-addon"><i  class=" glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="background form-control" name="username" placeholder="Username">                                        
                            </div>
                                
                            <div class="margin-bottom input-group">
                                        <span class="background input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="background form-control" name="password" placeholder="Password">
                            </div>
                                    
                             
                    
                            <div class="button_s">
                                <div  class="text-center">                                     
                                    <button class="button"><strong>LOGIN</strong></button>
                                    <span class="or-span">OR</span>
                                    <a class="a-style" href="/register"><strong>REGISTER</strong></a>
                                </div>
                            </div> 
                      
                        </form>     
        </div>                     
    </div>  
</body>
</html>


