<!DOCTYPE html>
<html>
<head>
	<title>REGISTER</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body style="background-color: #FF8C00">

    <div class="container">    
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div  >
                       

                    <div style="padding-top:30px" class="panel-body" >

                      
                            
                        <form action="/register" method="POST" id="loginform" class="form-horizontal" role="form">
                                    
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span style="background-color: #FFA500" class="input-group-addon"></span>
                                        <input style="background-color: #FFA500"  id="login-firstname" type="text" class="form-control" name="username" value="" placeholder="USER NAME">                                        
                                    </div>
                                
                           
                             <div style="margin-bottom: 25px" class="input-group">
                                        <span style="background-color: #FFA500" class="input-group-addon"></span>
                                        <input style="background-color: #FFA500"  id="login-email" type="text" class="form-control" name="emailid" value="" placeholder="EMAIL ID">                                        
                                    </div>
                                
                            <div  style="margin-bottom: 25px"  class="input-group">
                                        <span style="background-color: #FFA500" class="input-group-addon"></span>
                                        <input style="background-color: #FFA500" id="login-pass" type="password" class="form-control" name="password" placeholder="PASSWORD">
                                    </div>
                             
                    
                               <div style="margin-left: 2px;margin-right:2px;padding-top:7px;padding-bottom:7px;background-color: #63E3C0; " class="form-group">
                                    <!-- Button -->

                                    <div  class="text-center">
                                      
                                      <!-- <a href="#" style="color:white;font-size: 16px" ><strong>CREATE ACCOUNT</strong></a> -->
                                      <button style="background-color: #63E3C0;font-size:16px;border: none;outline:none;color:white;"><strong>CREATE ACCOUNT</strong></button>

                                    </div>
                                </div> 
                      
                            </form>     



                        </div>                     
                    </div>  
        </div>
      </div>

</body>
</html>