<!DOCTYPE html>
<html>
<head>
    <title>REGISTER</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/register.css">
       <script src="javascript/register.js">
        //  function onlyAlphabets() {
        //     var password = document.f.password1.value;
        // var confirmPassword = document.f.confpassword.value;
        //      var regex = /^[a-zA-Z0-9_]+$/;
        //      if (regex.test(document.f.username.value)&&(password === confirmPassword)) {

        //     //document.getElementById("notification").innerHTML = "Watching.. Everything is Alphabet now";
        //     return true;
        //     }  else if(!regex.test(document.f.username.value)){
        //     // document.getElementById("notification").innerHTML = "Alphabets Only";
        //     alert("alphanumeric only");
        //     return false;
        //     }
        //     else{
        //         alert("Passwords do not match.");
        //     return false;
        //     }
        //     function load(){
        //     document.f.profileImage.value = "/uploads/default.png";
        //     }}


      </script>   
</head>
<body onload="load()">

    <div class="form-contain container">    
        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
    
                       

                   
                      
                            
                        <form onsubmit="return onlyAlphabets()" action="/register" name = "f" method="POST" id="loginform" class="form-horizontal" role="form" enctype="multipart/form-data">
                                    
                            <div class="margin-bottom input-group">
                                        <span class="background input-group-addon"></span>
                                        <input id="login-firstname" type="text" class="background form-control" name="username" value="" placeholder="USER NAME (MAX. LENGTH 6)" maxlength="6" required="true">                                        
                                    </div>
                                
                           
                             <div class="margin-bottom input-group">
                                        <span class="background input-group-addon"></span>
                                        <input id="login-email" type="text" class="background form-control" name="emailid" value="" placeholder="EMAIL ID">                                        
                                    </div>
                                
                            <div class="margin-bottom input-group">
                                        <span class="background input-group-addon"></span>
                                        <input id="Password" type="password" class="background form-control" name="password1" placeholder="PASSWORD" minlength="6" required="true">
                                    </div>
                            <div class="margin-bottom input-group">
                                        <span class="background input-group-addon"></span>
                                        <input id="ConfirmPassword" type="password" class="background form-control" name="confpassword" placeholder="CONFIRM-PASSWORD" minlength="6" required="true">
                                    </div>
                        
                            <div class="margin-bottom input-group">
                                        <span class="background input-group-addon">UPLOAD A PROFILE IMAGE :</span>
                                        <input id="profileImage" type="file" class="background form-control" name="profileImage" placeholder="">
                                    </div>
                             
                    
                               <div class="button_s">
                                    <!-- Button -->

                                    <div  class="text-center">
                                         <button class = "button"><strong>CREATE ACCOUNT</strong></button>
                                    </div>
                                </div> 
                      
                            </form>     
                        </div>                     

      </div>
</body>

</html>