<!DOCTYPE html>
<html>
<head>
	<title>SIGNED IN</title>
</head>
<body>
<h2>
	WELCOME "<%= currentUser.username %>" !!!!
</h2>

<img src = "/<%= currentUser.profileImage%>">
	
<a href="/logout">logout</a>

</body>
</html>