body{
	display: flex;
	align-items: center;
	background-color:  #ff5a2a;
}
.form-contain{
	margin-top: 13%;
}
.margin-bottom{
	height: 40px;
 	margin-bottom: 25px;
}
.background{
	border: none;
	outline:none;
	height: 40px;
	background-color: #FFA500;
}
.button_s{
	padding-top:7px;
	padding-bottom:7px;
	background-color: #142736;
}
.button{
	background-color: #142736;
	font-size:16px;
	border: none;
	outline:none;
	color:white;
}
.or-span{
	background-color: #ff5a2a;
	padding: 10px;
	 border-radius:100px;
	 color:white;
}
.a-style{
	color:white;
	font-size: 16px;
}